<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.webServer>
		<rewrite>
			<rules>
			<rule name="HTTPS Force" enabled="true" stopProcessing="true">
					<match url="(.*)" />
						<conditions>
							<add input="{HTTPS}" pattern="^OFF$" />
						</conditions>
					<action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Permanent" />
				</rule>
				<rule name="lileospa.eu" stopProcessing="true">
					<match url=".*" />
					<conditions>
						<add input="{HTTP_HOST}" pattern="^(http://)?(https://)?(www.)?lileospa.eu$" />
						<add input="{PATH_INFO}" pattern="^/App/" negate="true" />
						<add input="{REQUEST_URI}" pattern="^/(SpaWebApi)" negate="true" />
						<add input="{REQUEST_URI}" pattern="^/(authenticate)" negate="true" />
					</conditions>
					<action type="Rewrite" url="\App\{R:0}" />
				</rule>
			</rules>
		</rewrite>
	</system.webServer>
</configuration>